.daily{
    /* margin-top: 40px; */
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 305px;
}

.mid{
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: space-between;
    width: 70px;
}

.mid > img{
    height: 50px;
    width: 50px;
}

.li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.li > .day{
    margin-right: 20px;
    width: 76px;
}

.li > .desc{
    width: 90px;
}