*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header > nav{
    background-color: rgb(129, 38, 215);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.top-left{
    display: flex;
    gap: 1em;
    align-items: center;
}

.top-left > .hamburger-btn > button{
    padding: 10px;
    background-color: transparent;
}

.menu{
    background-color: red;
    width: 10px;
}